venv/
__pycache__/
.env
*.sqlite3
*.pyc
.DS_Store
*.log
*.pytest_cache/
coverage/
htmlcov/
.idea/
.vscode/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
